/* ANIMATION */

.fade-down {
  animation-name: fadeDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  transform: translateY(-100px);
}

.noshow.fade-up {
  opacity: 0;
  transform: translateY(50px);
}

.fade-up:not(.noshow) {
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(50px);
}

.hero .fade-up {
  animation-delay: 1s;
}

.image-down:not(.noshow) {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@keyframes fadeDown {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* GENERAL */
html {
  font-size: 13px;
}

@media (max-width: 1600px) {
  html {
    font-size: 0.694vw;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 120%;
}

p {
  line-height: 140%;
  opacity: 0.9;
}

@media (max-width: 650px) {
  html {
    font-size: 8px;
  }

  * {
    font-size: 2rem;
  }
}

.container {
  max-width: 124rem;
  padding: 0 5rem;
  width: 100%;
  margin: auto;
}

nav {
  left: 0;
  right: 0;
  top: 2.5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 10;
}

nav img {
  width: 15rem;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  gap: 5rem;
}

ul li {
  cursor: pointer;
}

ul li p:hover {
  opacity: 0.8;
}

.nav-icon {
  display: none;
}

@media (max-width: 650px) {
  nav {
    top: 0;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    background-color: black;
    position: fixed;
    /* color:red */
  }
  nav img {
    position: relative;
    z-index: 101;
  }
  .nav-icon {
    z-index: 101;
    display: initial;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
  }

  nav ul {
    position: absolute;
    background-color: black;
    left: 0;
    top: -2.5rem;
    right: 0;

    flex-direction: column;

    padding: 10rem 0 5rem 0;
    z-index: 9;

    transition: 0.5s;
  }
}

.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: 1px solid;
  width: max-content;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.flex-center {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
}

.about-section {
  background-image: url(../public/images/crown.jpg);
  background-position: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 650px) {
  .about-section {
    background-image: none;
  }

  h1 {
    font-size: 4.5rem;
  }
}

.about {
  display: flex;
  gap: 4rem;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.about-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  transform: translateY(50px);
}

.about img {
  width: 65rem;
}

.image-overlay {
  transition: 1s;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

@media (max-width: 650px) {
  .about {
    flex-direction: column;
  }

  .about img {
    width: 100%;
  }
}

.black {
  background-color: black;
  color: white;
}

.experience {
  padding-top: 10rem;
  padding-bottom: 20rem;
}

.move-text-wrapper {
  overflow: hidden;
}

.move-text {
  display: flex;
  gap: 5rem;

  position: relative;
}

.move-text p {
  font-size: 13rem;
  color: transparent;
  font-weight: 500;
  -webkit-text-stroke: 1px black;
}

.black .move-text p {
  -webkit-text-stroke: 1px white;
}

.move-text .active-move {
  color: black;
}

.black .move-text .active-move {
  color: white;
}

.slider-overlay {
  overflow: scroll;
  margin-top: 7.5rem;
  cursor: grab;
}

.slider-overlay::-webkit-scrollbar {
  display: none;
}

h3 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.slider {
  padding: 0 10rem;
  width: max-content;
  display: flex;
  gap: 4rem;
}

@media (max-width: 650px) {
  .slider {
    padding: 0 5rem;
  }
}

.experience-card {
  width: 38vw;
}

.experience-card img,
.blog-card img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  margin-bottom: 3rem;
}

@media (max-width: 650px) {
  .experience-card {
    width: 70vw;
  }
}

.why {
  color: white;
  background-image: url(../public/images/why.jpg);
  background-size: cover;
  background-position: center;
  padding: 7.5rem 0 15rem 0;
}

.why-list {
  margin: 3rem 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.why-item {
  display: flex;
  align-items: center;
}

.why-dot {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 2rem;
}

.blog {
  padding: 7.5rem 0 15rem 0;
}

.blog-card {
  width: 35rem;
}

.blog-card h3 {
  color: #fe1122;
}

.red {
  background-color: #fe1122;
  color: white;
}

.faq {
  padding: 10rem 0;
}

.faq-wrapper {
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.faq-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2rem;
  cursor: pointer;
}

.question {
  font-size: 3rem;
}

.visible {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5rem;
  align-items: center;
}

.visible svg {
  width: 3rem;
}

.icon-wrapper {
  transition: 0.5s;
}

.answer {
  overflow: hidden;
  transition: 0.5s ease;
  margin-top: 2rem;
  opacity: 0.5;
}

.result {
  padding: 10rem 0;
}

.result p {
  max-width: 55rem;
  text-align: center;
  margin: auto;
  margin-top: 2.5rem;
}

.move-overlay {
  overflow: hidden;
  display: flex;
}

.move-image {
  display: flex;
  gap: 4rem;
  margin: 5rem;

  animation-name: moveImage;
  animation-duration: 150s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.move-image img {
  width: auto;
  height: 40rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

@keyframes moveImage {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-51%);
  }
}

.footer-container {
  padding-top: 10rem;
  max-width: 100rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container img {
  width: 40rem;
  margin-bottom: 3rem;
}

.footer-container p {
  text-align: center;
  opacity: 0.6;
  margin-bottom: 5rem;
}

.footer-container ul {
  margin-bottom: 5rem;
}

.footer-container .social {
  display: flex;
  gap: 5rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  align-items: flex-end;
  padding-bottom: 5rem;
}

footer .container p,
footer b {
  font-size: 1.2rem !important;
}

footer .address {
  text-align: center;
}

@media (max-width: 650px) {
  .footer-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  footer br {
    display: none;
  }

  footer ul,
  footer .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .container p,
  footer b {
    font-size: 1.4rem !important;
  }

  footer .address {
    margin-top: 2rem;
  }
}
